input {
	border: 0;
	background: transparent;
}

.input-text {
	&__input {
		outline: none;
		border-color: #333;
		border-bottom: 2px solid;
		padding: 5px 0;
		width: 100%;
		transition: border-color ease 0.3s;

		&::placeholder {
			text-transform: uppercase;
			color: $color-grey;
		}

		&:focus {
			border-color: $color-blue;
		}
	}
}

.input-checkbox {
	$self: &;

	&__input {
		position: absolute;
		width: 0.1px;
		height: 0.1px;
		visibility: hidden;
	}

	&__label {
		position: relative;
		padding-left: 25px;
		text-transform: uppercase;
		color: $color-grey;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			border-radius: 3px;
			width: 18px;
			height: 18px;
			background-color: #eee;
			transform: translateY(-50%);
			transition: background-color ease 0.3s;
		}
	}

	&__input:checked + &__label::before {
		background: url("../images/check.png") center no-repeat;
		background-color: $color-blue;
	}
}
