.profile {
	margin: 15px auto 0;
	max-width: 660px;

	&__personal-data {
		margin-bottom: 2px;
		padding: 25px 20px 35px;
		background-color: #fdfcf9;
	}

	&__skills {
		margin-bottom: 2px;
		padding: 30px 20px;
		background-color: #fdfcf9;
	}

	&__skills-title {
		margin-bottom: 20px;
	}

	&__skills-grid {
		display: grid;
		row-gap: 35px;

		@media screen and (min-width: 0) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (min-width: 640px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__result {
		display: grid;
		padding: 55px 20px 65px;
		background-color: #fdfcf9;

		@media screen and (min-width: 0) {
			grid-template-columns: 1fr;
		}

		@media screen and (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
		}
	}

	&__result-scale {
		@media screen and (min-width: 0) {
			margin-bottom: 20px;
		}

		@media screen and (min-width: 768px) {
			margin-bottom: 0;
		}
	}

	&__result-title {
		margin-bottom: 25px;
	}

	&__result-number {
		color: $color-blue;
	}
}

.personal-data {
	position: relative;
	display: grid;

	&__userpic {
		margin-top: 10px;
		margin-bottom: 20px;
		border-radius: 135px;
		width: 135px;
		height: 135px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		@media screen and (min-width: 0) {
			grid-column: 1 / 2;
		}

		@media screen and (min-width: 768px) {
			grid-column: 1 / 2;
		}
	}

	&__fields {
		display: flex;
		flex-direction: column;

		& > *:not(:first-child) {
			margin-top: 20px;
		}

		@media screen and (min-width: 0) {
			grid-column: 1 / 2;
		}

		@media screen and (min-width: 768px) {
			grid-column: 2 / 3;
		}
	}

	&__stamp {
		position: absolute;
		right: -15px;
		bottom: -20px;
		width: 184px;
		height: 166px;
		background: url("../images/stamp.png");
	}

	@media screen and (min-width: 0) {
		grid-template-columns: 1fr;
	}

	@media screen and (min-width: 768px) {
		grid-template-columns: 1fr 3fr;
	}
}

.result-scale {
	position: relative;
	width: 253px;
	height: 127px;
	background: url("../images/scale.png") center / cover no-repeat;

	&__arrow {
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: rotateZ(0deg);
		transform-origin: bottom left;
		transition: transform ease 0.3s;
	}

	&__arrow-inner {
		position: relative;
		width: $arrow-length + $arrow-width / 2;
		height: $arrow-width;
		transform: translateX(-100%) translateX($arrow-width / 2) translateY($arrow-width / 2);

		&::before {
			content: "";
			position: absolute;
			right: $arrow-width / 2;
			border-top: $arrow-width / 2 solid transparent;
			border-right: $arrow-length solid #3d3d3f;
			border-bottom: $arrow-width / 2 solid transparent;
			width: $arrow-length;
			height: 0;
		}

		&::after {
			content: "";
			position: absolute;
			right: 1px;
			border-top-right-radius: $arrow-width / 2;
			border-bottom-right-radius: $arrow-width / 2;
			width: $arrow-width / 2;
			height: $arrow-width;
			background-color: #3d3d3f;
		}
	}
}
