.profile
  .profile__personal-data
    .personal-data
      .personal-data__userpic(style=`background-image: url(${baseDir}images/userpic.png)`)
      .personal-data__fields
        +input-text('Имя')
        +input-text('Дата рождения')
        +input-text('Город')
        +input-text('Контактные данные')
      .personal-data__stamp
  .profile__skills
    h4.profile__skills-title Навыки
    .profile__skills-grid
      each skill, idx in ['HTML5', 'Sass', 'VanillaJS', 'git', 'CSS3', 'Less', 'Angular', 'Foundation', 'БЭМ', 'Gulp', 'JQuery', 'Bootstrap']
        .profile__skill.input-checkbox
          input.input-checkbox__input(type='checkbox' id=idx)
          label.input-checkbox__label(for=idx)= skill 
  .profile__result
    .profile__result-scale.result-scale
      .result-scale__arrow
        .result-scale__arrow-inner
    .profile__result-text
      h4.profile__result-title
        | Мой уровень владения
        br
        | Java Script
      .profile__result-number.hero 0